<!DOCTYPE html>
<html lang="es">
<head>
	<meta charset="UTF-8" />
	<title>Mapuche BTT</title>
	<meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0" />
	<style type="text/css">
</style>
</head>
<body>
	<p align="center">
	<img src="home.jpg" width="1208" height="850" usemap="#Map" border="0" />
	<map name="Map" id="Map">
	  <area shape="circle" coords="425,556,37" href="https://www.facebook.com/Mapuchebtt.Quilmes" target="_blank" />
	  <area shape="circle" coords="600,556,38" href="https://www.instagram.com/mapuchebtt/" target="_blank" />
	  <area shape="circle" coords="774,558,39" href="mailto:info@mapuchebtt.com" target="_blank" />
	</map>
	</p>	
</body>
</html>


<!-- <!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>Mapuche BTT</title>
<style type="text/css">
body {
	background-color: #BABABA;
}
</style>
</head>

<body>
<p align="center">
<img src="home.jpg" width="1208" height="850" usemap="#Map" border="0" />
<map name="Map" id="Map">
  <area shape="circle" coords="425,556,37" href="https://www.facebook.com/Mapuchebtt.Quilmes" target="_blank" />
  <area shape="circle" coords="600,556,38" href="https://www.instagram.com/mapuchebtt/" target="_blank" />
  <area shape="circle" coords="774,558,39" href="mailto:info@mapuchebtt.com" target="_blank" />
</map>
</p>
</body>
</html> -->
