  /*#section1 {background-color: #1E88E5;}*/
  #section2 {background-color: #673ab7;}
  #section3 {background-color: #ff9800;}
  #section41 {background-color: #00bcd4;}
  #section42 {background-color: #009688;}

  .sec_principal {
  	padding-top:50px;
  	height:400px;
  	color: #fff;
  }